<div class="container">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Meetup!</a>
				<ul class="nav">
					<li <%= /^\/people/.test(window.location.pathname) ? "class=\"active\"" : "" %>><a href="/people">People</a></li>
					<li <%= /^\/events/.test(window.location.pathname) ? "class=\"active\"" : "" %>><a href="/events">Events</a></li>
					<li <%= /^\/places/.test(window.location.pathname) ? "class=\"active\"" : "" %>><a href="/places">Places</a></li>
					<li <%= /^\/things/.test(window.location.pathname) ? "class=\"active\"" : "" %>><a href="/things">Things</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-content">
	</div>
</div>